{% extends '../layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <form action="/users" method="post">
        <label for="username">
            <input type="text" name="username" placeholder="username..."/>
        </label>
        <button type="submit">Create</button>
    </form>
{% endblock %}
